#aggregator {
  padding: 8px;
}
.rssblock-itemlist .blocklist-item {
  margin-bottom: 10px;
}
.rssblock-itemlist .blocklist-item .rss-date {
  display: block;
}
.rssblock-itemlist .blocklist-item .rss-link a {
  text-decoration: none;
}
div.rssblock-itemlist div.media-item {
  border: 0;
  float: right;
  padding: 0;
  width: 100%;
}

div.rssblock-itemlist div.media-item .media-thumbnail {
  width: 100%;
}